<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TOYFLIX.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>52FE7491D2D8EACB7D72CA1F0DC83ED31555E58C</string>
				<key>dateExpires</key>
				<string>15/05/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>52FE7491D2D8EACB7D72CA1F0DC83ED31555E58C</string>
						<key>dateExpires</key>
						<string>15/05/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BS98X5DA28</string>
						<key>name</key>
						<string>Vikram A M</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BS98X5DA28.com.bommalu.toyrentals</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BS98X5DA28</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>TOYFLIX.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>cd9c261c-73aa-4f49-854d-a6f7e44ad0c1</string>
				<key>dateExpires</key>
				<string>15/05/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.bommalu.toyrentals</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BS98X5DA28</string>
				<key>name</key>
				<string>Vikram A M</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
